[Unit]
Description=Dvorak Virtual Keyboard

[Service]
ExecStart=/usr/local/sbin/dvorak.sh /dev/input/%i keyb k360 k750

[Install]
WantedBy=graphical.target
