[Unit]
Description=Dvorak Virtual Keyboard

[Service]
ExecStart=/usr/local/bin/dvorak -d /dev/input/%i -m "keyb k360 k750" -u

[Install]
WantedBy=graphical.target
