[Unit]
Description=Dvorak Virtual Keyboard

[Service]
ExecStart=/usr/bin/dvorak /dev/input/%i keyb k360 unifying

[Install]
WantedBy=multi-user.target
