[Unit]
Description=Dvorak remapping - %I
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=60

[Service]
Type=simple
ExecStart=/usr/local/bin/dvorak-start.sh "%I"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
